body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030303;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.cart-widget {
  font-size: 1.5rem;
  cursor: pointer;
}

h2 {
  margin: 2rem;
  font-size: 2rem;
}

.item-list-container {
  padding: 2rem;
  text-align: center;
}

.item-list-container h1 {
  font-size: 2rem;
  color:rgba(250, 0, 0, 0.87);
}
