/* =========================
   VARIABLES DE COLOR Y FUENTE
   ========================= */
:root {
  --color-marca: rgb(246, 250, 0);
  --bs-body-bg: #00000069;
  --bs-body-color: #212529;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-warning: var(--color-marca);
  --bs-warning-rgb: 246, 250, 0;
  --bs-warning-text-emphasis: #3a3a00;
  --bs-warning-bg-subtle: rgba(246, 250, 0, 0.2);
  --bs-warning-border-subtle: rgba(246, 250, 0, 0.4);
}

/* =========================
   RESETEO BÁSICO
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  min-height: 100vh;
  padding-top: 70px; /* ajustá según la altura real de tu navbar */
}

/* =========================
   ENLACES
   ========================= */
a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(246, 250, 0);
}

.mb-3{
  background-color: rgb(246, 250, 0);
  text-align: center;
}

/* =========================
   BOTONES PERSONALIZADOS
   ========================= */
.btn-marca {
  background-color: var(--color-marca);
  border-color: var(--color-marca);
  color: #000; /* contraste */
  font-weight: bold;
}

.btn-marca:hover {
  background-color: #e0dc00; /* amarillo más oscuro */
  border-color: #e0dc00;
  color: #000;
}

